#  Python Pandas working with XML

    1. Read XML and get Dataframe
    2. Convert Dataframe to XML
What is XML?

    1. XML stands for eXtensible Markup Language <br>
    2. XML is a Markup Language much like HTML <br>
    3. XML was designed to store and transport data <br>
    4. XML was designed to be self-descriptive <br>
    5. XML is a W3C Recommendation

In [1]:
import pandas as pd

In [2]:
pd.read_xml('test.xml')

      shape  degrees  sides
0    square      360    4.0
1    circle      360    NaN
2  triangle      180    3.0

In [9]:
xml = '''<?xml version='1.0' encoding='utf-8'?>
<data xmlns="http://example.com">
 <row>
   <shape>square</shape>
   <degrees>360</degrees>
   <sides>4.0</sides>
   <firstname>Arman</firstname>
 </row>
 <row>
   <shape>circle</shape>
   <degrees>360</degrees>
   <sides/>
   <firstname/>
 </row>
 <row>
   <shape>triangle</shape>
   <degrees>180</degrees>
   <sides>3.0</sides>
   <firstname/>
 </row>
</data>'''

In [10]:
pd.read_xml(xml)

      shape  degrees  sides firstname
0    square      360    4.0     Arman
1    circle      360    NaN      None
2  triangle      180    3.0      None

In [11]:
xml = '''<?xml version='1.0' encoding='utf-8'?>
<data>
  <row shape="square" degrees="360" sides="4.0" firstname="Arman"/>
  <row shape="circle" degrees="360"/>
  <row shape="triangle" degrees="180" sides="3.0" lastname="Ansari"/>
</data>'''

In [12]:
pd.read_xml(xml)

      shape  degrees  sides firstname lastname
0    square      360    4.0     Arman     None
1    circle      360    NaN      None     None
2  triangle      180    3.0      None   Ansari

In [13]:
pd.read_xml(xml, xpath='.//row')

      shape  degrees  sides firstname lastname
0    square      360    4.0     Arman     None
1    circle      360    NaN      None     None
2  triangle      180    3.0      None   Ansari

In [14]:
xml = '''<?xml version='1.0' encoding='utf-8'?>
<doc:data xmlns:doc="https://example.com">
  <doc:row>
    <doc:shape>square</doc:shape>
    <doc:degrees>360</doc:degrees>
    <doc:sides>4.0</doc:sides>
  </doc:row>
  <doc:row>
    <doc:shape>circle</doc:shape>
    <doc:degrees>360</doc:degrees>
    <doc:sides/>
  </doc:row>
  <doc:row>
    <doc:shape>triangle</doc:shape>
    <doc:degrees>180</doc:degrees>
    <doc:sides>3.0</doc:sides>
  </doc:row>
</doc:data>'''

In [19]:
df = pd.read_xml(xml, xpath='.//doc:row', namespaces={"doc": "https://example.com"})

In [20]:
df.to_xml('test1.xml')